body {
    background:#FBB42B;
    color:#000;
    font-family:"Prestige Elite Std", "courier", monospace;
    font-size:24px;
    min-height:100vh;
}

#menu {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-top:calc(3em + 1px);

}

#menu li {
    border-bottom:1px solid #000;    
    height:3em;
    max-height: 3em;
    transition: max-height 0.15s ease-out;
    overflow: hidden;

}

#intro {
    position:fixed;
    top:0;
    width:calc(100% - 20px);
    background:#FBB42B;
    z-index:10;
}

#menu li:hover {
    background:black;
    color:#FBB42B;

}

#menu li.no-click:hover {
    color:black;
    background:#FBB42B;

}

#menu li.active {
    height:auto;
    max-height: 2500px;
    transition: max-height 0.25s ease-in;

}

.open-close {float:right; cursor:pointer;}
.open-close:before { content:"\02c7"; }
.active .open-close:before { content:"\00d7"; }


#menu li.active:hover {
    color:black;
    background:#FBB42B;
}


#menu li .title {
    padding:1em;
}

.contents {
    margin:0 1em 1em 1em;

}

.makeBook {
    font-family:inherit;
    font-size:25px;
    color:#FFFFFF;
    background:#EC008C;
    border-radius:50%;
    width:150px;
    height:150px;
    transform:rotate(22deg);
    cursor:pointer;
    float:right;
    position:relative;
    right:10em;
    top:-10em;
}

.makeBook:hover {
    background:black;
    color:#FBB42B;
    
}


#hera .title {
    color:#EC008C;
}

.TBA-logo {
    max-width:150px;
    padding:0 1em;
    
}


.📖-root {
	color:#000;
}

.📖-root #content {
	color:#000;
	font-size:14pt;
	line-height:16.8pt;

}


.📖-root .w13 {
	width:calc( 0.25in * 13)
}

.📖-root .l5 {
	margin-left:calc(0.25in * 5);
}

.📖-root .r22 {
	transform:rotate(22deg);
}

.big {
	font-size:28pt;
	line-height: 31pt;
}


.📖-left>.📖-page-background {
    left: 0;
    background: url(../img/schematic.gif) no-repeat;
    background-size: auto 8.5in;
    background-position: 0% 15px;
}


.📖-right>.📖-page-background {
    left: 0;
    background: url(../img/schematic.gif) no-repeat;
    background-size: auto 8.5in;
    background-position: 103% 15px;
}

/*h4 {
	font-weight:normal;
}*/